body {
  font-family: 'Oswald', sans-serif;
}

.dropdown-menu {
  background-color: #8e44ad !important;
  border: 1px solid #ffffff;
}

.sidebar {
  background-color: #8e44ad !important;
  /* height: 100vh; */
  overflow: auto;
}

.sidebar *:not(.dropdown-divider) {
  /* padding: 16px; */
  color: #ffffff;
}
.sidebar a {
  display: block;
  text-decoration: none;
}

.sidebar a:hover {
  color: #2d3436
}

main {
  background-color: #dfe6e9;
  height: 100vh;
}

.about__section {
  /* height: 50%; */
}

.about__image {
  border-radius: 50%;
}

.search-results {
  display: none;
}

.music-list li {
  padding: 10px;
  display: flex;
  align-items: center;
}

.music-list li span {
  width: 15em;
}

@media screen and (min-width: 992px) {
  .sidebar-wrapper {
    position: fixed;
    width: 100%;
    
  }
  .sidebar {
    height: 100vh;
  }

  main {
    width: 100vw;
  }
}
